@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ysabeau+SC:wght@1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Tektur:wght@400..900&display=swap");

.present_oblast {
  position: absolute;
  width: 43%;
  height: 43%;
  left: 57%;
  top: 12%;
  z-index: 90;
  padding: 10px;
  background-image: url("./img/present_oblast.png");
  border-radius: 10px;
  opacity: 100%;
  transform-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .present_oblast {
    transform: scale(0.85);
  }
  .cyber_title {
    left: 70%;
  }
}
.present_oblast_img {
  opacity: 1;
}
.presentbutton {
  top: 70%;
  left: 50%;
  z-index: 10000;
  position: absolute;
}
.present {
  visibility: hidden;
}
.kard {
    width: 100%;
    aspect-ratio: 1/1;
  z-index: 1000000;
  border: 5px solid;
  border-image: linear-gradient(to right, #63d53a 0%, #3a4ed5 100%) 1;
}
.prezent_pamyatnik {
  color: grey;
  -webkit-text-stroke: #000000 0.1px;
  font-size: 85%;
  font-weight: bold;
  position: absolute;
  display: block;
  height: 10vh;
  width: 10vh;
  aspect-ratio: 1/1;
  border-radius: 30px;
  border: 3px solid grey;
  cursor: pointer;
  z-index: 100;
}

.prezent_pamyatnik>img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.pp1 {
  left: 70%;
  top: 120%;
}
.pp2 {
  left: 50%;
  top: 10%;
}
.pp3 {
  left: 40%;
  top: 60%;
}
.pp4 {
  left: 60%;
  top: 140%;
}
.pp5 {
  left: 60%;
  top: 30%;
}
.pp6 {
  left: 40%;
  top: 85%;
}
.pp7 {
  left: 40%;
  top: 110%;
}
.pp8 {
  left: 40%;
  top: 110%;
}
.pp9 {
  left: 50%;
  top: 120%;
}
.pp10 {
  left: 50%;
  top: 50%;
}
.pp11 {
  left: 70%;
  top: 100%;
}
.pp12 {
  left: 60%;
  top: 120%;
}
.pp13 {
  left: 50%;
  top: 120%;
}
.pp14 {
  left: 10%;
  top: 80%;
}
.pp15 {
  left: 20%;
  top: 70%;
}
.pp16 {
  left: 25%;
  top: 50%;
}
.pp17 {
  left: 30%;
  top: 40%;
}
.present_title {
  z-index: 100000000000;
  bottom: 15%;
  color: white;
  float: left;
  font-size: 20px;
  text-transform: capitalize;
}

.mapContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    margin-top: -16%;
    margin-left: 3%;
}
.presentChanger{
  z-index: 100000000000;
  position: absolute;
left: 20%;

top: 80%;
  width: 60%;
}

.proiszvodstvaList {
  display: block;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  width: 25vw;
  z-index: 1000000;
top: 16%;
  opacity: 100%;
  border: 4px solid #9fc0a3;
  margin-left: 3%;
  border-radius: 30px;
  color: white;
  overflow-y: auto;
background-size: 100%;


justify-content: center; /* горизонтальное выравнивание */
align-items: center;     /* вертикальное выравнивание */
font-size: 140%;
  display: none;
  height: 60vh;
}
.proiszvodstvaList::-webkit-scrollbar-track{
  background: #1a2235;
  border-radius: 10px;
}
.proizvodstvoLi{

width: 80%;
height: 10vh;
margin: 6px;
color: #1a2235;
font-family: "Russo One", sans-serif;
padding-top: 32px;

flex:1;
cursor: pointer;

background: url("./present_button_phone.png")
}
.proizvodstvoLi:hover{
  color: white;
  transition: all ease 0.7s;
}
.proizvodstvo{
  color: grey;
  -webkit-text-stroke: #000000 0.1px;
  font-size: 85%;
  font-weight: bold;
  position: absolute;
  display: block;
  height: 10vh;
  width: 10vh;
  border-radius: 30px;

  cursor: pointer;
  z-index: 100;
  left: 30%;
  top: 0%;
  background-size: cover;
  
}
.proizvostva{
  display:none;
}
.demo-box{
  width: 100%;
}
.barier{
  background-color: azure;
  height: 12px;
  width: 20px;
left:  19%;
top: 67%;
  position:absolute;
  z-index: 10000000000000000;

}
.title3{
  
  font-family: "Russo One", sans-serif;
}
.presentChanger>button{
  width: 49%;
  height: 5vh;
  cursor: pointer;
  background: url("present_button_phone.png");
  
color: #1a2235;
font-family: "Russo One", sans-serif;
  background-size: 100%;
  font-size: 150%;
  }
.title3{
  padding-top:1000px;
}
.prom1{
position: absolute;
top:250%;
left: 130%;
}
.prom2{
  position: absolute;
  top:520%;
  left: 260%; 
}
.prom3{
  position: absolute;
  top:400%;
  left: 150%; 
}

.prom5{
  position: absolute;
  top:300%;
  left: 300%; 
}
.prom6{
  position: absolute;
  top:320%;
  left: 60%; 
}
.prom4{
  position: absolute;
  top:500%;
  left: 0%; 
}

.prom7{
  position: absolute;
 top:120%;
 left: 150%; 
}
.prom8{
  position: absolute;
  top:500%;
  left: 370%; 
}
.prom9{
  position: absolute;
  top:290%;
  left: 210%; 
}
.prom10{
  position: absolute;
  top:500%;
  left: -100%; 
}
.prom11{
  position: absolute;
  top:450%;
  left: 280%;
  }
  .prom12{
    position: absolute;
    top:340%;
    left: 390%; 
  }
  .prom13{
    position: relative;
    top:540%;
    left: 170%; 
  }
  
  .prom14{
    position: absolute;
    top:610%;
    left: 240%; 
  }
  
  .prom15{
    position: relative;
    top:340%;
    left:50%; 
  }
  .prom16{
    position: relative;
    top:320%;
    left: 110%; 
  }
  .prom17{
    position: absolute;
    top:330%;
    left: 140%;

  }
  .prom18{
    position: absolute;
    top:590%;
    left: 350%; 
  }
  .prom19{
    position: absolute;
    top:370%;
    left: 250%; 
  }
  .prom20{
    position: relative;
    top:-870%;
    left: 50%; 
  }
  .promt21{
    position: relative;
    top:100%;
    left: 150%; 
  }
.prom{
  border: 3px solid gray;
  border-radius: 16px;
  width: 70px;
  height: 70px;
}
.prom:hover{
  border: 3px solid white;
  cursor: pointer;
  transition: all 1.0s ease ;
}
